@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Stencil Std';
    src: url('/path/to/StencilStd.woff2') format('woff2'); /* Adjust path and format as needed */
  }

  
*{
    padding: 0px;
    margin: 0px;
}

img[src="/images/player.png"] {
    display: none !important;
}
